.ShowCase{
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    width: 25%;
    min-height: 20vh;
    background-color: white;
    margin-bottom: 40px;
}

.selectContainer {
    margin: 20px;
    border: none;
    width: 150px;
    height: 50px;
    background-color: #EFEFEF;
    color: black;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
@media screen and (max-width: 1440px){
    .ShowCase{
        width: 40%;
        margin-bottom: 160px;
    }
    
}

@media screen and (max-width: 1024px){
    .ShowCase{
        width: 60%;
    }
    
}
@media screen and (max-width: 425px){
    .ShowCase{
        width: 100%;
    }
    
}

